@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

a {
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus, *:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.margin {
  margin-top: 100px;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  min-width: 320px;
}

.page_width {
  padding: 0px 50px;
  margin: 0 auto;
  left: 0;
  top: 0;
  max-width: 1440px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .page_width {
    padding: 0 30px;
  }
}
@media screen and (max-width: 425px) {
  .page_width {
    padding: 0 20px;
  }
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  color: #000;
  position: relative;
  font-weight: 400;
}

h1, .h1 {
  margin-top: 50px;
  font-size: 48px;
  color: #fff;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 692px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
}
@media screen and (max-width: 587px) {
  h1 {
    font-size: 35px;
    line-height: 47px;
  }
}
@media screen and (max-width: 521px) {
  h1 {
    font-size: 30px;
    line-height: 42px;
  }
}
h2, .h2 {
  display: inline;
  font-size: 30px;
  position: relative;
}
h2::before, .h2::before {
  content: "";
  width: 500%;
  height: 2px;
  left: -505%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  position: absolute;
}
h2.left:before, .h2.left:before {
  display: none;
}
h2.left::after, .h2.left::after {
  content: "";
  text-align: left;
  width: 500%;
  height: 2px;
  right: -505%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  position: absolute;
}
h2.center::after, .h2.center::after {
  content: "";
  text-align: left;
  width: 600%;
  height: 2px;
  right: -605%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  position: absolute;
}

@media screen and (max-width: 960px) {
  h2, .h2 {
    font-size: 25px;
  }
}
.h3 {
  font-size: 24px;
  text-transform: none;
}

p {
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.button_center {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #14AC0B;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 64px;
  border-radius: 10px;
  font-weight: bold;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #252525;
}
.button.white {
  background-color: #fff;
  color: #000;
}
.button.white:hover {
  background-color: #252525;
  color: #fff;
}
.button.arrow {
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: 140px;
}
.button.arrow::after {
  content: "";
  width: 100px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background-image: url(../img/icon_long-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all 0.3s ease 0s;
}
.button.arrow:hover::after {
  filter: invert(100%);
}

.image_shale {
  overflow: hidden;
  position: relative;
}
.image_shale img {
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

header {
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  background-color: #fff;
}
header .first_header {
  justify-content: space-between;
  padding: 10px 0;
  height: 100px;
  position: relative;
}
header .first_header .logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 184px;
}
header .first_header .menu_btn {
  float: right;
  width: 25px;
  height: 20px;
  margin-top: 42px;
  position: relative;
  display: none;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
header .first_header .menu_btn::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 0;
  background-color: #000;
  transition: all 0.3s ease 0s;
}
header .first_header .menu_btn::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  transition: all 0.3s ease 0s;
}
header .first_header .active {
  border-bottom: 1px solid transparent;
}
header .first_header .active::before {
  transform: rotate(50deg);
  top: 10px;
}
header .first_header .active::after {
  transform: rotate(-50deg);
  bottom: 0px;
}
header .first_header .navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
header .first_header .navigation nav {
  width: 790px;
  margin: 0 -35px 0 auto;
  padding: 42px 0 42px 0;
}
header .first_header .navigation nav li {
  display: inline-block;
  margin: 0 35px;
}
header .first_header .navigation nav li a {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease 0s;
}
header .first_header .navigation nav li a:hover {
  color: #14AC0B;
}
header .first_header .navigation nav li a.active {
  color: #14AC0B;
}
header .first_header .navigation .second_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 11px 0;
  position: relative;
}
header .first_header .navigation .second_header::before {
  content: "";
  width: 500%;
  height: 100%;
  background-color: #252525;
  position: absolute;
  left: -100%;
}
header .first_header .navigation .second_header .language {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 13px;
  background-color: #fff;
  line-height: 17px;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
header .first_header .navigation .second_header .language:hover {
  background-color: #14AC0B;
}
header .first_header .navigation .second_header .language:hover .lang_item {
  color: #fff;
}
header .first_header .navigation .second_header .language::after {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -2.5px;
  width: 5px;
  height: 5px;
  margin-top: -5px;
  transform: rotate(-45deg);
  transition: all 0.3s;
  z-index: 2;
}
header .first_header .navigation .second_header .language::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  display: none;
  top: 0;
  left: 0;
}
header .first_header .navigation .second_header .language .lang_item {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 7px 0px 8px 0px;
  transition: all 0.3s;
}
header .first_header .navigation .second_header .language .lang_item.active {
  order: -1;
  opacity: 1;
}
header .first_header .navigation .second_header .language.show .lang_item {
  opacity: 1;
  pointer-events: initial;
  color: #000;
  background-color: #fff;
  z-index: 2;
  box-sizing: border-box;
}
header .first_header .navigation .second_header .language.show::before {
  display: block;
}
header .first_header .navigation .second_header .language.show::after {
  transform: rotate(135deg);
  border-color: #fff;
  margin-top: -2px;
}
header .first_header .navigation .second_header .contacts {
  display: flex;
  margin: 0 -40px;
  align-items: center;
}
header .first_header .navigation .second_header .contacts .item {
  align-items: center;
  margin: 0 40px;
  text-align: right;
  position: relative;
}
header .first_header .navigation .second_header .contacts .item a {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
header .first_header .navigation .second_header .contacts .item a:hover {
  color: #14AC0B;
}
header .first_header .navigation .second_header .contacts .item a svg {
  margin-right: 8px;
}
header .first_header .navigation .second_header .contacts .soc {
  margin: 0 -12px;
}
header .first_header .navigation .second_header .contacts .soc a {
  margin: 0 4px;
  display: inline-block;
}

@media screen and (max-width: 1030px) {
  header .first_header .navigation nav {
    width: auto;
    margin: 0 -25px 0 auto;
  }
  header .first_header .navigation nav li {
    margin: 0 20px;
  }
  header .first_header .navigation nav li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 890px) {
  header .first_header .navigation .logo {
    width: 150px;
  }
  header .first_header .navigation nav {
    margin: 0 -20px 0 auto;
  }
  header .first_header .navigation nav li {
    margin: 0 20px;
  }
}
@media screen and (max-width: 860px) {
  header .first_header .menu_btn {
    display: block;
  }
  header .first_header .navigation {
    padding: 20px;
    background-color: #252525;
    width: 90%;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(150%);
    transition: all 0.3s ease 0s;
  }
  header .first_header .navigation nav {
    margin: 0;
    padding: 0;
  }
  header .first_header .navigation nav li {
    margin: 0;
    margin-bottom: 10px;
    display: block;
  }
  header .first_header .navigation nav li a {
    color: #fff;
  }
  header .first_header .navigation nav li a:hover {
    color: 1440px;
  }
  header .first_header .navigation .second_header {
    margin-top: 20px;
    background-color: #252525;
  }
  header .first_header .navigation .second_header::before {
    display: none;
  }
  header .first_header .slid_active {
    border-radius: 25px;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 700px) {
  header .first_header .navigation {
    box-sizing: border-box;
  }
  header .first_header .navigation .second_header {
    margin-top: 20px;
    background-color: #252525;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  header .first_header .navigation .second_header::before {
    display: none;
  }
  header .first_header .navigation .second_header .contacts {
    margin-top: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    order: 1;
  }
  header .first_header .navigation .second_header .contacts .item {
    margin: 0px;
  }
  header .first_header .navigation .second_header .contacts .soc a {
    margin: 0 0px;
  }
  header .first_header .navigation .second_header .language {
    order: 2;
    margin-top: 20px;
  }
}
@media screen and (max-width: 590px) {
  header .first_header .navigation {
    width: 112%;
  }
}
@media screen and (max-width: 480px) {
  header .first_header .navigation .second_header .contacts {
    flex-wrap: wrap;
  }
  header .first_header .navigation .second_header .contacts .item {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
}
.main_screen {
  background-color: black;
  text-align: center;
  color: #fff;
  padding-top: 292px;
  padding-bottom: 347px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.main_screen.main_screen_others {
  padding-top: 150px;
  padding-bottom: 150px;
}
.main_screen video {
  z-index: 0;
  position: absolute;
  opacity: 70%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_screen .second_text {
  display: block;
  width: 35%;
  margin: 20px auto 0 auto;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 1364px) {
  .main_screen h1 {
    width: 80%;
  }
  .main_screen .second_text {
    width: 50%;
  }
}
@media screen and (max-width: 990px) {
  .main_screen {
    padding-bottom: 250px;
  }
}
@media screen and (max-width: 870px) {
  .main_screen h1 {
    width: 100%;
  }
  .main_screen .second_text {
    width: 60%;
  }
}
@media screen and (max-width: 860px) {
  .main_screen {
    padding-top: 190px;
  }
  .main_screen .second_text {
    width: 70%;
  }
}
@media screen and (max-width: 522px) {
  .main_screen {
    padding-top: 150px;
  }
  .main_screen .second_text {
    width: 80%;
  }
}
.services .services_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: -149px;
}
.services .services_block .item {
  padding: 30px 15px 40px 15px;
  background-color: #fff;
  border-radius: 25px;
  width: calc(25% - 133px);
  box-sizing: border-box;
  border: 1px solid #000;
}
.services .services_block .item .image {
  margin: 0 auto;
  background-color: #14AC0B;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services_block .item span {
  display: block;
  margin-top: 27px;
}
.services .button {
  margin-top: 50px;
}

@media screen and (max-width: 1360px) {
  .services .services_block .item {
    width: 19%;
  }
}
@media screen and (max-width: 880px) {
  .services .services_block .item {
    width: 22%;
  }
  .services .services_block .item .image {
    width: 70px;
    height: 70px;
  }
  .services .services_block .item .image img {
    width: 40px;
  }
}
@media screen and (max-width: 691px) {
  .services .services_block {
    min-width: 0;
  }
  .services .services_block .item {
    width: 400px;
    margin: 0 10px;
    min-width: 0;
  }
  .services .services_block .item .image {
    width: 70px;
    height: 70px;
  }
  .services .services_block .item .image img {
    width: 40px;
  }
}
.text_image {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.text_image .text {
  box-sizing: border-box;
  width: calc(50% - 200px);
  order: 2;
  margin: 0 auto;
  padding-bottom: 100px;
}
.text_image .image_shale {
  overflow: hidden;
  box-sizing: border-box;
  height: 304px;
  width: 50%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #fff;
}
.text_image .image_shale h2 {
  float: right;
  margin-top: 150px;
  margin-right: 100px;
  color: #fff;
  z-index: 2;
}
.text_image .image_shale h2::before, .text_image .image_shale h2::after {
  background-color: #fff;
}
.text_image .right {
  order: 2;
}
.text_image .right h2 {
  margin-right: 0;
  margin-left: 100px;
  float: left;
}

.about_company {
  position: relative;
}
.about_company:before {
  content: "about company";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 160px;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  opacity: 10%;
  color: #000;
  width: 600px;
}
.about_company .text_image .text {
  width: calc(50%);
  margin: 0 0;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.about_company .text_image .text .text_main {
  width: calc(100% - 180px);
}
.about_company .text_image .text .benefits .number {
  margin: 14px 0;
  font-size: 48px;
  color: #14AC0B;
  display: block;
  font-family: "Comfortaa", cursive;
}
.about_company .text_image .image_shale {
  border-top-left-radius: 25px;
}
.about_company .text_image .image_shale img {
  object-fit: contain;
}

.our_vision {
  position: relative;
}
.our_vision:before {
  content: "OUR VISION";
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
  font-size: 160px;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  opacity: 10%;
  color: #000;
  width: 600px;
}
.our_vision .text_image .image_shale {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 25px;
  background-color: #000;
}
.our_vision .text_image .image_shale img {
  opacity: 50%;
}

.our_mission {
  position: relative;
}
.our_mission:before {
  content: "OUR MISSION";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 160px;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  opacity: 10%;
  color: #000;
  width: 600px;
}
.our_mission .image_shale {
  background-color: #000;
  border-bottom-left-radius: 25px;
}
.our_mission .image_shale img {
  opacity: 50%;
}

.text_img_block .text_image {
  align-items: center;
}
.text_img_block .text_image:before {
  content: "";
  position: absolute;
  left: -15%;
  top: 0px;
  font-size: 160px;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  opacity: 10%;
  color: #000;
  width: 220px;
  height: 270px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%);
}
.text_img_block .text_image .text {
  padding-bottom: 0px;
}
.text_img_block .text_image:nth-child(even):before {
  right: -15%;
  left: auto;
}
.text_img_block .text_image:nth-child(even) .image_shale {
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 25px;
}
.text_img_block .text_image:nth-child(odd) .image_shale {
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
}
.text_img_block .text_image:nth-child(1) .image_shale {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
}
.text_img_block .text_image:last-child .image_shale {
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.text_img_block .serv_1::before {
  background-image: url(../img/icon_services_1.svg);
}
.text_img_block .serv_2::before {
  background-image: url(../img/icon_services_2.svg);
}
.text_img_block .serv_3::before {
  background-image: url(../img/icon_services_3.svg);
}
.text_img_block .serv_4::before {
  background-image: url(../img/icon_services_4.svg);
}

@media screen and (max-width: 1670px) {
  .text_img_block .text_image::before {
    left: -8%;
  }
  .text_img_block .text_image:nth-child(even)::before {
    left: auto;
    right: -8%;
  }
}
@media screen and (max-width: 1210px) {
  .text_image .text {
    width: calc(50% - 100px);
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .about_company:before {
    font-size: 130px;
  }

  .our_vision:before {
    font-size: 130px;
  }

  .our_mission:before {
    font-size: 130px;
  }
}
@media screen and (max-width: 1060px) {
  .text_image .text {
    width: calc(50% - 80px);
    padding-bottom: 50px;
  }

  .about_company:before {
    font-size: 120px;
  }
  .about_company .text_image .text {
    flex-wrap: wrap;
  }
  .about_company .text_image .text .text_main {
    width: 100%;
  }
  .about_company .text_image .text .benefits {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .about_company .text_image .text .benefits .item {
    width: 30%;
    text-align: center;
  }

  .our_vision:before {
    font-size: 120px;
  }

  .our_mission:before {
    font-size: 120px;
  }
}
@media screen and (max-width: 960px) {
  .text_image .text {
    width: calc(50% - 40px);
  }
  .text_image .image_shale h2 {
    float: right;
    margin-right: 50px;
  }
  .text_image .right h2 {
    float: left;
    margin-left: 50px;
  }
}
@media screen and (max-width: 820px) {
  .text_img_block .text_image .text {
    padding-bottom: 100px;
    padding-top: 30px;
  }

  .text_image {
    flex-wrap: wrap;
  }
  .text_image .text {
    width: 90%;
    order: 2;
    padding-bottom: 100px;
    padding-top: 30px;
  }
  .text_image .image_shale {
    order: 1;
    height: 304px;
    width: 100%;
    border-radius: 25px;
    float: none;
  }
  .text_image .image_shale h2 {
    float: right;
    margin-top: 150px;
    margin-right: 100px;
    color: #fff;
    z-index: 2;
  }
  .text_image .image_shale h2::before, .text_image .image_shale h2::after {
    background-color: #fff;
  }
  .text_image .right {
    order: 1;
  }
  .text_image .right h2 {
    margin-right: 0;
    margin-left: 100px;
    float: left;
  }

  .about_company {
    position: relative;
  }
  .about_company:before {
    left: 0;
    top: 50%;
  }
  .about_company .text_image .text {
    width: 90%;
    padding-right: 0;
    margin: 0 auto;
  }
  .about_company .text_image .text .text_main {
    width: 100%;
  }
  .about_company .text_image .image_shale {
    border-radius: 25px;
  }

  .our_vision {
    position: relative;
  }
  .our_vision:before {
    text-align: right;
    right: 0;
    top: 50%;
  }
  .our_vision .text_image .image_shale {
    border-radius: 25px;
  }
  .our_vision .text_image .image_shale img {
    opacity: 50%;
  }

  .our_mission:before {
    left: 0;
    top: 50%;
  }
  .our_mission .image_shale {
    border-radius: 25px;
  }
  .our_mission .image_shale img {
    opacity: 50%;
  }

  .text_img_block .text_image:nth-child(odd) .image_shale,
.text_img_block .text_image:nth-child(even) .image_shale {
    border-radius: 25px;
  }
  .text_img_block .text_image::before {
    top: 50%;
  }
}
@media screen and (max-width: 500px) {
  .about_company::before,
.our_mission::before,
.our_vision::before {
    font-size: 90px;
    width: 400px;
  }

  .about_company .text_image .text {
    padding-top: 0px;
  }

  .text_image .image_shale h2 {
    float: right;
    margin-right: 20px;
  }
  .text_image .right h2 {
    float: left;
    margin-left: 20px;
  }
}
@media screen and (max-width: 370px) {
  .about_company .text_image .text {
    padding-top: 0px;
    margin-top: -40px;
  }
  .about_company .text_image .image_shale {
    background-color: transparent;
  }
}
.our_projects {
  text-align: center;
}
.our_projects .map {
  width: 100%;
  height: 630px;
  margin-top: 60px;
}

.products {
  padding-top: 100px;
  padding-bottom: 130px;
  background-image: url(../img/main_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.products h2, .products p {
  color: #fff;
}
.products h2 {
  margin-bottom: 40px;
}
.products h2:before {
  background-color: #fff;
}
.products p {
  width: 60%;
}
.products .button {
  float: right;
  margin-top: 40px;
}

.poducts_block {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}
.poducts_block.products_page {
  flex-wrap: wrap;
  justify-content: none;
}
.poducts_block.products_page .item {
  border: 1px solid #000;
  margin-bottom: 50px;
  width: calc(35% - 120px);
}
.poducts_block .item {
  width: calc(33% - 125px);
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
}
.poducts_block .item .image_shale {
  background-color: #b8b8b8;
  height: 242px;
  width: 100%;
}
.poducts_block .item .text {
  box-sizing: border-box;
  padding: 20px 40px;
}
.poducts_block .item .text .price {
  float: right;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.poducts_block .item .text ul {
  margin-top: 13px;
}
.poducts_block .item .text ul li {
  margin: 5px 0;
}

@media screen and (max-width: 1400px) {
  .poducts_block.products_page .item {
    width: calc(33% - 20px);
  }
  .poducts_block .item {
    width: calc(33% - 70px);
  }
}
@media screen and (max-width: 1200px) {
  .poducts_block .item {
    width: calc(33% - 20px);
  }
}
@media screen and (max-width: 990px) {
  .products p {
    width: 70%;
  }

  .poducts_block {
    justify-content: none;
    flex-wrap: wrap;
    width: 100%;
  }
  .poducts_block .item {
    width: calc(50% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .poducts_block.products_page .item {
    width: calc(49% - 20px);
  }
}
@media screen and (max-width: 680px) {
  .products p {
    width: 100%;
  }

  .poducts_block .item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .poducts_block.products_page .item {
    width: 80%;
  }
}
@media screen and (max-width: 460px) {
  .poducts_block .item {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .poducts_block.products_page .item {
    width: 100%;
  }
}
.category {
  margin-top: 100px;
  display: flex;
  border-radius: 25px;
  background-color: #c4c4c4;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.category .item {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  border-top-right-radius: 0px;
  transition: all 0.3s ease 0s;
  font-size: 14px;
  text-transform: uppercase;
}
.category .item.active {
  background-color: #14AC0B;
  color: #fff;
}
.category .item.active:hover {
  color: #fff;
}
.category .item:hover {
  color: #14AC0B;
}

@media screen and (max-width: 1459px) {
  .category {
    width: 90%;
  }
}
@media screen and (max-width: 1157px) {
  .category {
    width: 100%;
  }
  .category .item {
    font-size: 12px;
  }
}
@media screen and (max-width: 967px) {
  .category {
    position: relative;
    overflow: auto;
    margin-left: 0px;
    margin-right: 0px;
    /* Стрелка влево */
    /* Стрелка вправо */
  }
  .category .item {
    width: 33%;
  }
  .category .slick-arrow {
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0px;
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }
  .category .slick-arrow::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(140deg);
    transition: all 0.3s ease 0s;
  }
  .category .slick-arrow:hover {
    background-color: #14AC0B;
  }
  .category .slick-arrow:hover::before {
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  .category .slick-arrow.slick-prev {
    left: 4px;
  }
  .category .slick-arrow.slick-prev::before {
    margin-left: 6px;
  }
  .category .slick-arrow.slick-next {
    right: 4px;
    left: auto;
  }
  .category .slick-arrow.slick-next::before {
    margin-right: 6px;
  }
  .category .slick-arrow.slick-next::before {
    transform: rotate(-40deg);
  }
}
@media screen and (max-width: 750px) {
  .category .item {
    width: 30%;
    font-size: 10px;
    padding: 20px 25px;
  }
}
@media screen and (max-width: 683px) {
  .category {
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: visible;
  }
  .category .slick-arrow {
    top: 150%;
  }
}
.our_partners {
  text-align: center;
}
.our_partners .our_partners_slider {
  width: 100%;
  margin: 50px auto 0 auto;
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
}
.our_partners .our_partners_slider .item {
  position: relative;
  display: block;
  margin: 0 60px;
  height: 200px;
  background-color: gray;
}
.our_partners .our_partners_slider .slick-arrow {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0px;
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.our_partners .our_partners_slider .slick-arrow::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  transform: rotate(140deg);
  transition: all 0.3s ease 0s;
}
.our_partners .our_partners_slider .slick-arrow:hover {
  background-color: #14AC0B;
  border: 1px solid transparent;
}
.our_partners .our_partners_slider .slick-arrow:hover::before {
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
}
.our_partners .our_partners_slider .slick-arrow.slick-prev {
  left: 0;
}
.our_partners .our_partners_slider .slick-arrow.slick-prev::before {
  margin-left: 10px;
}
.our_partners .our_partners_slider .slick-arrow.slick-next {
  right: 0;
  left: auto;
  float: right;
}
.our_partners .our_partners_slider .slick-arrow.slick-next::before {
  margin-right: 10px;
}
.our_partners .our_partners_slider .slick-arrow.slick-next::before {
  transform: rotate(-40deg);
}

.calculator {
  color: #fff;
  background-color: #000;
  position: relative;
}
.calculator .bg_img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 70%;
}
.calculator h2 {
  color: #fff;
}
.calculator h2::before {
  background-color: #fff;
}
.calculator p {
  margin-top: 40px;
  color: #fff;
}
.calculator .calculator_block {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator .calculator_block .text {
  box-sizing: border-box;
  width: calc(50% - 100px);
}
.calculator .calculator_block img {
  box-sizing: border-box;
}
.calculator .button {
  margin-top: 40px;
}

@media screen and (max-width: 1140px) {
  .calculator .calculator_block .text {
    box-sizing: border-box;
    width: calc(60% - 40px);
  }
}
@media screen and (max-width: 820px) {
  .calculator .calculator_block {
    flex-wrap: wrap;
  }
  .calculator .calculator_block .text {
    box-sizing: border-box;
    width: 100%;
    order: 2;
    text-align: center;
  }
  .calculator .calculator_block img {
    order: 1;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
  }
  .calculator .calculator_block h2::after {
    content: "";
    text-align: left;
    width: 600%;
    height: 2px;
    right: -605%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    position: absolute;
  }
}
@media screen and (max-width: 410px) {
  .calculator .button.arrow {
    padding: 20px 60px;
  }
  .calculator .button.arrow::after {
    width: 20px;
    background-position: right;
  }
}
@media screen and (max-width: 322px) {
  .calculator .button.arrow {
    padding: 20px 60px 20px 20px;
  }
  .calculator .button.arrow::after {
    width: 20px;
    background-position: right;
  }
}
.contact_us {
  text-align: center;
}
.contact_us .contact_us_block {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  width: calc(100% - 400px);
  margin: 0 auto;
}
.contact_us .contact_us_block .item {
  width: 20%;
  border: 2px solid #252525;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  align-items: center;
}
.contact_us .contact_us_block .item img {
  margin-bottom: 25px;
}
.contact_us .contact_us_block .item a {
  margin: 6.5px;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.contact_us .contact_us_block .item a:hover {
  color: #14AC0B;
}

@media screen and (max-width: 1400px) {
  .contact_us .contact_us_block {
    justify-content: space-between;
    width: calc(100% - 250px);
  }
  .contact_us .contact_us_block .item {
    width: 25%;
    padding: 40px 20px;
  }
}
@media screen and (max-width: 1220px) {
  .contact_us .contact_us_block {
    justify-content: space-between;
    width: calc(100% - 250px);
  }
  .contact_us .contact_us_block .item {
    width: 30%;
  }
}
@media screen and (max-width: 1070px) {
  .contact_us .contact_us_block {
    justify-content: space-between;
    width: calc(100% - 250px);
  }
  .contact_us .contact_us_block .item {
    width: calc(45% - 20px);
    padding: 40px 20px;
  }
}
@media screen and (max-width: 860px) {
  .contact_us .contact_us_block {
    justify-content: space-between;
    width: calc(100% - 100px);
  }
  .contact_us .contact_us_block .item {
    width: calc(45% - 20px);
    padding: 40px 20px;
  }
}
@media screen and (max-width: 712px) {
  .contact_us .contact_us_block {
    justify-content: space-between;
    width: calc(100% - 70px);
  }
  .contact_us .contact_us_block .item {
    width: calc(45% - 30px);
  }
}
@media screen and (max-width: 650px) {
  .contact_us .contact_us_block {
    justify-content: space-between;
    width: calc(100% - 50px);
    flex-wrap: wrap;
    padding-top: 70px;
  }
  .contact_us .contact_us_block .item {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .contact_us .contact_us_block {
    width: calc(100% - 0px);
  }
  .contact_us .contact_us_block .item {
    box-sizing: border-box;
  }
}
footer {
  background-color: #252525;
  position: relative;
  z-index: 1;
}
footer .footer_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 0;
}
footer .footer_block .logo {
  width: 186px;
}
footer .footer_block nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -35px;
  text-align: right;
}
footer .footer_block nav .item {
  margin: 0 35px;
}
footer .footer_block nav li {
  margin-bottom: 10px;
}
footer .footer_block nav a {
  display: inline;
  font-weight: lighter;
  text-align: right;
  font-size: 14px;
  transition: all 0.3s ease 0s;
}
footer .footer_block nav a:hover {
  color: #14AC0B;
}
footer .footer_block nav ul li {
  align-self: flex-end;
}
footer .footer_block nav ul li a {
  color: #fff;
  text-transform: uppercase;
}
footer .footer_block nav ul li a:hover {
  color: #14AC0B;
}
footer .footer_block nav .item a {
  color: #fff;
}
footer .footer_block nav .item a:hover {
  color: #14AC0B;
}
footer .footer_block nav .soc a {
  display: inline-block;
  margin: 0 3.5px;
}

@media screen and (max-width: 880px) {
  footer .footer_block .logo {
    width: 160px;
  }
  footer .footer_block nav {
    margin: 0 -25px;
  }
  footer .footer_block nav .item {
    margin: 0 25px;
  }
  footer .footer_block nav a {
    font-size: 13px;
  }
}
@media screen and (max-width: 760px) {
  footer .footer_block .logo {
    width: 160px;
  }
  footer .footer_block nav {
    margin: 0 -20px;
  }
  footer .footer_block nav .item {
    margin: 0 20px;
  }
  footer .footer_block nav a {
    font-size: 12px;
  }
}
@media screen and (max-width: 713px) {
  footer .footer_block {
    justify-content: space-between;
    padding: 55px 0;
    flex-direction: column;
  }
  footer .footer_block .logo {
    width: 186px;
    margin-bottom: 50px;
  }
  footer .footer_block nav {
    align-items: top;
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 593px) {
  footer .footer_block nav {
    flex-direction: column;
    align-items: top;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: -20px;
  }
  footer .footer_block nav .item {
    margin-bottom: 20px;
  }
}
.content_404 {
  text-align: center;
  padding-top: 150px;
}
.content_404 span {
  color: #252525;
  font-size: 36px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  display: block;
  margin-bottom: 36px;
}
.content_404 .title_404 {
  font-size: 200px;
  display: block;
  margin: 0px auto 24px auto;
}

.gears_block {
  width: 100%;
  position: relative;
}
.gears_block img {
  position: absolute;
}
.gears_block .gears_big {
  width: 600px;
  top: 100px;
  left: -200px;
  animation: rot 4s infinite;
}
.gears_block .giars_b_2 {
  left: auto;
  right: -200px;
  animation: invert-rot 4s infinite;
}
.gears_block .gears_smole {
  width: 400px;
  left: 100px;
  top: -250px;
  animation: rot 2s infinite;
}
.gears_block .gears_s_2 {
  left: auto;
  right: 100px;
  animation: invert-rot 2s infinite;
}
.gears_block .gears_smolest {
  width: 280px;
  top: 300px;
  left: 400px;
  filter: blur(5px);
  animation: rot 5s infinite;
}
.gears_block .gears_smolest_2 {
  left: auto;
  right: 400px;
  animation: invert-rot 5s infinite;
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes invert-rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@media screen and (max-width: 1490px) {
  .gears_block .gears_big {
    width: 500px;
    top: 150px;
    left: -200px;
    animation: rot 4s infinite;
  }
  .gears_block .giars_b_2 {
    left: auto;
    right: -200px;
    animation: invert-rot 4s infinite;
  }
  .gears_block .gears_smole {
    width: 400px;
    left: 70px;
    top: -250px;
    animation: rot 2s infinite;
  }
  .gears_block .gears_s_2 {
    right: 70px;
    left: auto;
  }
  .gears_block .gears_smolest {
    width: 280px;
    top: 350px;
    left: 200px;
  }
  .gears_block .gears_smolest_2 {
    left: auto;
    right: 200px;
  }
}
@media screen and (max-width: 1100px) {
  .gears_block .gears_big {
    width: 400px;
    top: 150px;
    left: -200px;
  }
  .gears_block .giars_b_2 {
    top: 150px;
    left: auto;
    right: -200px;
  }
  .gears_block .gears_smole {
    width: 300px;
    left: 70px;
    top: -250px;
  }
  .gears_block .gears_s_2 {
    left: auto;
    right: 70px;
    top: -250px;
  }
  .gears_block .gears_smolest {
    width: 180px;
    top: 350px;
    left: 150px;
  }
  .gears_block .gears_smolest_2 {
    left: auto;
    right: 150px;
    animation: invert-rot 5s infinite;
  }
}
@media screen and (max-width: 960px) {
  .gears_block .gears_big {
    width: 300px;
    top: 250px;
    left: -120px;
  }
  .gears_block .giars_b_2 {
    left: auto;
    right: -120px;
  }
  .gears_block .gears_smole {
    width: 220px;
    left: 30px;
    top: -150px;
  }
  .gears_block .gears_s_2 {
    left: auto;
    right: 30px;
  }
  .gears_block .gears_smolest {
    width: 180px;
    top: 350px;
    left: 120px;
  }
  .gears_block .gears_smolest_2 {
    left: auto;
    right: 120px;
  }
}
@media screen and (max-width: 861px) {
  .content_404 {
    padding-top: 120px;
  }
  .content_404 span {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .gears_block .gears_smole {
    width: 220px;
    left: -90px;
    top: -100px;
  }
  .gears_block .gears_s_2 {
    left: auto;
    right: -90px;
  }
}
@media screen and (max-width: 665px) {
  .content_404 {
    padding-top: 120px;
  }
  .content_404 span {
    width: 100%;
  }

  .gears_block .gears_smolest {
    width: 180px;
    top: 400px;
    left: 100px;
  }
  .gears_block .gears_smolest_2 {
    left: auto;
    right: 100px;
  }
}
@media screen and (max-width: 570px) {
  .gears_block .gears_big {
    width: 250px;
    top: 330px;
    left: -140px;
  }
  .gears_block .giars_b_2 {
    left: auto;
    right: -140px;
  }
  .gears_block .gears_smole {
    width: 200px;
    left: -100px;
    top: -200px;
  }
  .gears_block .gears_s_2 {
    left: auto;
    right: -100px;
  }
  .gears_block .gears_smolest {
    width: 140px;
    top: 450px;
    left: 80px;
  }
  .gears_block .gears_smolest_2 {
    left: auto;
    right: 80px;
  }
}
@media screen and (max-width: 425px) {
  .content_404 span {
    font-size: 27px;
  }
  .content_404 .title_404 {
    font-size: 150px;
    width: 100%;
  }

  .gears_block .gears_smolest {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */