<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Garden</title>

    <!-- Start favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#14ac0b">
    <meta name="msapplication-TileColor" content="#14ac0b">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicon -->

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
</head>
<body>
<div class="wrapper">
   <header>
       <div class="page_width">
           <div class="first_header">
               <a href="index.html" class="logo"><img src="../static/img/Smart_Garden.svg" alt="Smart Garden"></a>

               <nav>
                   <ul>
                       <li><a href="services.html">Services</a></li>
                       <li><a href="products.html">Products</a></li>
                       <li><a href="calculator.html">Calculator</a></li>
                       <li><a href="government_support.html">government support</a></li>
                   </ul>
               </nav>
               <div class="second_header">
                    <div class="language">
                        <a href="#" class="lang_item">en</a>
                        <a href="#" class="lang_item active">ru</a>
                        <a href="#" class="lang_item">am</a>
                    </div>
                    <div class="contacts">
                        <div class="item soc">
                            <a href="#"><img src="../static/img/soc_cont_1.svg" alt="instagramm"></a>
                            <a href="#"><img src="../static/img/soc_cont_2.svg" alt="facebook"></a>
                        </div>
                        <div class="item">
                            <a href="mailto:smartgarden@gmail.com" class="meill">smartgarden@gmail.com</a>
                            <a href="mailto:info@smartgarden.am" class="meill">info@smartgarden.am</a>
                        </div>
                        <div class="item">
                            <a href="tel:37477058486" class="phone">(+374) 77 05-84-86</a>
                            <a href="tel:37433575787" class="phone">(+374) 33 57-57-87</a>
                        </div>
                    </div>
               </div>
           </div>
       </div>
       <!-- <div class="page_width">
           <div class="second_header">

           </div>
       </div> -->
   </header>  
    
</div>


<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>