footer{
    background-color: $main_gray_color;
    position: relative;
    z-index: 1;

    .footer_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 55px 0;


        .logo{
            width: 186px;
        }

        nav{
            display: flex;
            justify-content: space-between;
            margin: 0 -35px;
            text-align: right;

            .item{
                margin: 0 35px;
            }

            li{
                
                margin-bottom: 10px;
            }
            a{
                display: inline;
                font-weight: lighter;
                text-align: right;
                font-size: 14px;
                @include transition(all);

                &:hover{
                    color: $main-color;
                }
            }
            ul li{
                // display: block;
                align-self: flex-end;
                a{
                    color: #fff;
                    text-transform: uppercase;

                    &:hover{
                        color: $main-color;
                    }
                }
            }

            .item{
                a{
                    color: #fff;

                    &:hover{
                        color: $main-color;
                    }
                }
            }

            .soc{
                // margin: 0 -3.5px;
                a{
                    display: inline-block;
                    margin: 0 3.5px;
                }
            }
        }
    }
}

@media screen and (max-width:880px) {
    footer{
    
        .footer_block{
    
            .logo{
                width: 160px;
            }
    
            nav{
                margin: 0 -25px;

                .item{
                    margin: 0 25px;
                }
                a{
                    font-size: 13px;
                }
            }
        }
    }  
}

@media screen and (max-width:760px) {
    footer{
        .footer_block{
            .logo{
                width: 160px;
            }
            nav{
                margin: 0 -20px;

                .item{
                    margin: 0 20px;
                }
                a{
                    font-size: 12px;
                }
            }
        }
    }  
}

@media screen and (max-width:713px) {
    footer{
        .footer_block{
            justify-content: space-between;
            padding: 55px 0;
            flex-direction: column;
    
    
            .logo{
                width: 186px;
                margin-bottom: 50px;
            }
    
            nav{
                align-items: top;
                width: 100%;
                text-align: left;
            }
        }
    }
}
@media screen and (max-width:593px) {
    footer{
        .footer_block{
            nav{
                flex-direction: column;
                align-items: top;
                justify-content: center;
                text-align: center;

                width: 100%;
                margin-bottom: -20px;

                .item{
                    margin-bottom: 20px;
                }

            }
        }
    }
}
