.files{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -60px;
    .item{
        width: calc(33% - 61px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 40px;
        box-sizing: border-box;

        margin-bottom: 60px;

        @include transition(all);

        border: 2px solid $main_gray_color;
        border-radius: 25px;

        font-size: 18px;

        &:hover{
            color: $main-color;
            border: 2px solid $main-color;
        }

        span{
            width: 85%;
            // padding-right: 120px;
        }
        svg{
            box-sizing: border-box;
            width: 60px;
        }
    }
}

@media screen and (max-width:1370px) {
    .files{
        .item{
            width: calc(33% - 30px);
            padding: 10px 20px 10px 40px;
        }
    }
}
@media screen and (max-width:1200px) {
    .files{
        .item{
            width: calc(33% - 20px);
        }
    }
}
@media screen and (max-width:1000px) {
    .files{
        .item{
            width: calc(50% - 20px);
        }
    }
}
@media screen and (max-width:660px) {
    .files{
        .item{
            width: calc(100% - 0px);
            margin-bottom: 40px;
        }
    }
}