.our_partners{
    text-align: center;

    .our_partners_slider{
        width: 100%;
        margin: 50px auto 0 auto;
        position: relative;
        padding: 0 60px;
        box-sizing: border-box;
        overflow: hidden;
        
        z-index: 1;
        .item{
            position: relative;
            display: block;
            margin: 0 60px;
            // width: 100px;
            height: 200px;
            background-color: gray;
        }

        .slick-arrow{
            // display: inline-block;
            // box-sizing: border-box;
            width: 60px;
            height: 60px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0px;
            border-radius: 50%;
            border: 1px solid #000;
            position: absolute;
            // float: left;
            z-index: 2;
        
        
            @include transition(all);
        
            &::before{
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border-bottom: 5px solid #000;
                border-right: 5px solid #000;
                transform: rotate(140deg);
                @include transition(all);
            }
        
            &:hover{
                background-color: $main-color;
                border: 1px solid transparent;
        
                &::before{
                    border-bottom: 5px solid #fff;
                    
                    border-right: 5px solid #fff;
                }
            }
        }
        
        /* Стрелка влево */
        .slick-arrow.slick-prev{
            left: 0;
            &::before{
                margin-left: 10px;
            }
        }
        /* Стрелка вправо */
        .slick-arrow.slick-next{
            right: 0;
            left: auto;
            float: right;

            &::before{
                margin-right: 10px;
            }
            &::before{
                transform: rotate(-40deg);
            }
        }
        /* Стрелка не активная */
        // .slick-arrow.slick-disabled{}
    }
}