.products{
    padding-top: 100px;
    padding-bottom:130px;
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2, p{
        color: #fff;
    }
    h2{
        margin-bottom: 40px;
    }
    h2:before{
        background-color: #fff;
    }

    p{
        width: 60%;
    }

    .button{
        float: right;
        margin-top: 40px;
    }
}

.poducts_block{
    margin-top: 50px;
    width: 100%;
    display: flex;flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;

    &.products_page{
        flex-wrap: wrap;
        justify-content: none;

        .item{
            border: 1px solid #000;
            margin-bottom: 50px;
            width: calc(35% - 120px);
        }
    }

    .item{
        width: calc(33% - 125px);
        border-radius: 25px;
        // height: 242px;
        overflow: hidden;
        background-color: #fff;

        .image_shale{
            background-color: rgb(184, 184, 184);
            height: 242px;
            width: 100%;
        }

        .text{
            box-sizing: border-box;
            padding: 20px 40px;
    
            .price{
                float: right;
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: bold;
            }

            ul{
                margin-top: 13px;
                li{
                    margin: 5px 0;
                }
            }
        }
    }
}

@media screen and (max-width:1400px) {
    .poducts_block{

        &.products_page{
            .item{
                width: calc(33% - 20px);
            }
        }

        .item{
            width: calc(33% - 70px);
        }
    }
}

@media screen and (max-width:1200px) {
    .poducts_block{
        .item{
            width: calc(33% - 20px);
        }
    }
}

@media screen and (max-width:990px) {
    .products{
        p{
            width: 70%;
        }
    }
    .poducts_block{
        justify-content: none;
        // margin: 0 -20px;
        flex-wrap: wrap;
        width: 100%;
    
        .item{
            width: calc(50% - 20px);
            margin: 0 10px;
            margin-bottom: 20px;
        }

        &.products_page{
            .item{
                width: calc(49% - 20px);
            }
        }
    }
}

@media screen and (max-width:680px) {
    .products p{
        width: 100%;
    }
    .poducts_block{
        .item{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &.products_page{
            .item{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width:460px) {
    .poducts_block{
        .item{
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &.products_page{
            .item{
                width: 100%;
            }
        }
    }
}