.products{
    padding-top: 100px;
    padding-bottom:130px;
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2, p{
        color: #fff;
    }
    h2{
        margin-bottom: 40px;
    }
    h2:before{
        background-color: #fff;
    }

    p{
        width: 60%;
    }

    .button{
        float: right;
        margin-top: 40px;
    }
}

.poducts_block{
    margin-top: 60px;
    width: 100%;
    display: flex;flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;

    &.products_page{
        flex-wrap: wrap;
        justify-content: none;

        .item{
            border: 1px solid #000;
            margin-bottom: 50px;
            width: calc(35% - 120px);
        }
    }

    .item{
        width: calc(33% - 125px);
        border-radius: 25px;
        // height: 242px;
        overflow: hidden;
        background-color: #fff;

        .image_shale{
            background-color: rgb(184, 184, 184);
            height: 242px;
            width: 100%;
        }

        .text{
            box-sizing: border-box;
            padding: 20px 40px;
    
            .price{
                float: right;
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: bold;
            }

            ul{
                margin-top: 13px;
                li{
                    margin: 5px 0;
                }
            }
        }
    }
}

@media screen and (max-width:1400px) {
    .poducts_block{

        &.products_page{
            .item{
                width: calc(33% - 20px);
            }
        }

        .item{
            width: calc(33% - 70px);
        }
    }
}

@media screen and (max-width:1200px) {
    .poducts_block{
        .item{
            width: calc(33% - 20px);
        }
    }
}

@media screen and (max-width:990px) {
    .products{
        p{
            width: 70%;
        }
    }
    .poducts_block{
        justify-content: none;
        // margin: 0 -20px;
        flex-wrap: wrap;
        width: 100%;
    
        .item{
            width: calc(50% - 20px);
            margin: 0 10px;
            margin-bottom: 20px;
        }

        &.products_page{
            .item{
                width: calc(49% - 20px);
            }
        }
    }
}

@media screen and (max-width:680px) {
    .products p{
        width: 100%;
    }
    .poducts_block{
        .item{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &.products_page{
            .item{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width:460px) {
    .poducts_block{
        .item{
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &.products_page{
            .item{
                width: 100%;
            }
        }
    }
}

.category{
    margin-top: 100px;
    display: flex;
    border-radius: 25px;
    background-color: #c4c4c4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    align-items: center;
    justify-content: space-between;

    .item{
        width: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 25px;
        border-top-right-radius: 0px;
        @include transition(all);
        font-size: 14px;
        text-transform: uppercase;

        &.active{
            background-color: $main-color;
            color: #fff;

            &:hover{
                color: #fff;
            }
        }

        &:hover{
            color: $main-color;
        }
    }
}

@media screen and (max-width:1459px){
    .category{
        width: 90%;
    }
}

@media screen and (max-width:1157px){
    .category{
        width: 100%;

        .item{
            font-size: 12px;
        }
    }
}

@media screen and (max-width:967px) {
    .category{
        // padding: 0 30px;
        position: relative;
        overflow: auto;
        margin-left: 0px;
        margin-right: 0px;

        .item{
            width: 33%;
        }

        .slick-arrow{
            // display: inline-block;
            // box-sizing: border-box;
            width: 45px;
            height: 45px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0px;
            border-radius: 50%;
            // border: 1px solid #000;
            border: none;
            position: absolute;
            // float: left;
            z-index: 2;
        
        
            @include transition(all);
        
            &::before{
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: transparent;
                border-bottom: 3px solid #000;
                border-right: 3px solid #000;
                transform: rotate(140deg);
                @include transition(all);
            }
        
            &:hover{
                background-color: $main-color;
                // border: 1px solid transparent;
        
                &::before{
                    border-bottom: 3px solid #fff;
                    border-right: 3px solid #fff;
                }
            }
        }
        
        /* Стрелка влево */
        .slick-arrow.slick-prev{
            left: 4px;
            &::before{
                margin-left: 6px;
            }
        }
        /* Стрелка вправо */
        .slick-arrow.slick-next{
            right: 4px;
            left: auto;

            &::before{
                margin-right: 6px;
            }
            &::before{
                transform: rotate(-40deg);
            }
        }
    }
}
@media screen and (max-width:750px){
    .category{
        .item{
            width: 30%;
            font-size: 10px;
            padding: 20px 25px;
        }
    }
}
@media screen and (max-width:683px) {
    .category{
        margin-top: 50px;
        margin-bottom: 20px;
        overflow: visible;

        .slick-arrow{
            top: 150%;
            // transform: translateY(-50%);
            // position: absolute;
        }
    }
}